@charset "utf-8";
/* CSS Document */

/*RESET untuk membuat setelan default untuk semua halaman*/
.header {
 height:120px;
 background-color:  #ffff00;
 border-style: dashed;
}

body {
	 background-image: url(../image/nougat.jpg);
	 background-repeat: no-repeat;
	 background-position: top center;
	 background-size: cover;
	 background-attachment: fixed;
	 position: relative;
	 margin: 0px;
	 padding: 0px;
}

#kegiatan {
  margin: auto;
	color: red;
  font-size: 40px;
  font-weight: bolder;
}

h1, h2 {
	text-align:center;
	font-family: serif;
	color: #ff5050;
	text-transform: uppercase;
}

h2 {
	font-style: italic;
}

.utama {
 background-color: #ffffff;
 width:900px;
 height:auto;
 margin-top:10px; /*memberikan jarak dengan menu*/
 margin-left: 250px;
 padding-left:20px;
 border-style: solid;
 border-width: 2px;
}

.gambar img {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 20%;
    border-radius: 100px;
    border: 2px solid #73AD21; 
    width: 200px;
    height: 200px; 
}

p {
	font-family: Arial;
	font-weight: bold;
}

p, ul, ol {
	text-align:justify;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.comment {
	background-color: #f2f2f2;
	margin-top:20px;
	float: right;
	border-style: solid;
	border-width: 0px 0px 0px 10px;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	padding-left: 50px;
	padding-right: 50px;
	font-family: Courier;
	background-image: -webkit-linear-gradient(#FFD194, #BC1324); 
}
